@font-face {
    font-family: Porson;
    src: url(Porson.ttf);
}

@font-face {
    font-family: BreitkopfFraktur;
    src: url(BreitkopfFraktur.ttf);
}

@font-face {
    font-family: SweynheimPannartz;
    src: url(SweynheimPannartz.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-R.ttf);
}

.flashcard-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
}
.greek-side {
    font-family: Porson;
}
.german-side {
    font-family: BreitkopfFraktur;
}
.latin-side {
    font-family: SweynheimPannartz;
}
.english-side {
    font-family: Ubuntu;
}
